.sticky-top {
    background-color: #000000 !important;
}

nav .nav-link, .dropdown-item {
    color: #ffffff;
}

nav .navbar-nav .nav-link:focus, .nav-link:hover {
    color: #7ed47e  !important;
}

nav .navbar-nav .nav-item .active {
    color: #00ff00  !important;
}

nav .dropdown-menu {
    background-color: #1a1a1a !important;
}

nav .dropdown-item:focus, .dropdown-item:hover {
    background-color: #3a3a3a !important;
}

nav .btn-outline-success {
    color: #00bb00  !important;
    border-color: #00bb00  !important;
}

nav .btn-outline-success:hover {
    color: #000000  !important;
    border-color: #00bb00  !important;
}