<div class="card bg-dark text-white mt-5">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form>
            <div class="form-group row mt-3">
                <label for="firstName" class="col-form-label col-sm-2">First Name</label>
                <div class="col-sm-6">
                    <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="client.firstName">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="LastName" class="col-form-label col-sm-2">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" name="LastName" id="LastName" class="form-control" [(ngModel)]="client.lastName">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" name="email" id="email" class="form-control" [(ngModel)]="client.email">
                </div>
            </div>
            <div class="from-group row mt-3">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!client.id else btnUpdate">Create</button>
                    <ng-template #btnUpdate>
                        <button class="btn btn-warning" role="button" (click)="update()" >Edit</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>